@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    background-color: rgb(105, 105, 105);
}

header {
    background-color: black;
    padding-top: 50px;
    text-align: center;
}

header > h1 {
    color: white;
    font-variant: small-caps;
}

header > p {
    color: white;
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    color: white;
    background-color: rgb(104, 104, 104)
    
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.842);
    width: 400px;
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer > a {
    color: white;
    text-decoration: underline;
}